<div class="container p-3 mx-auto">
    <div class="row text-center">
        <div class="col-12">
            <h1>Cast Spells</h1>
            <hr />
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <table class="table table-striped table-hover table-bordered table-responsive-lg ">
                <thead>
                    <tr>
                        <th class="text-center" width="18%">ID</th>
                        <th class="text-center" width="15%">Name</th>
                        <th class="text-center" width="30%">Description</th>
                        <th class="text-center" width="7%">Type</th>
                        <th class="text-center" width="10%">Restore Condition</th>
                        <th class="text-center" width="5%">Max Slots</th>
                        <th class="text-center" width="5%">Casting Level</th>
                        <th class="text-center" width="10%">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of castSpells">
                        <td class="align-middle">{{item.id}}</td>
                        <td class="align-middle">{{item.name}}</td>
                        <td class="align-middle">
                            <div>{{item.description}}</div>
                        </td>
                        <td class="align-middle">{{item.type}}</td>
                        <td class="align-middle">{{item.restoreCondition}}</td>
                        <td class="align-middle">{{item.maxSlots}}</td>
                        <td class="align-middle">{{item.castingLevel}}</td>
                        <td class="align-middle">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-action"
                                    (click)="showEditCastSpellModal(item)"><i class="fa fa-edit"></i></button>
                                <button type="button" class="btn btn-danger btn-action"
                                    (click)="showDeleteCastSpellModal(item)"><i class="fa fa-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="showAddCastSpellModal()"><i class="fa fa-plus mr-2"></i>Add
        Cast Spell</button>
</div>