<div class="container">
    <div class="col-12 col-md-8 text-center mb-5 mx-auto">
        <h1>Error 500</h1>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 "><img src="../../../../assets/img/BrokenSword.png" alt="Error" class="img-fluid" />
        </div>
        <div class="col-12 col-md-6 my-auto">
            <h2>Ow no, something went wrong and your gear broke. <br /> Please try again later or check your link.</h2>
            <p>Else you can always try going <a routerLink="/">home</a> </p>
        </div>
    </div>
</div>