<div class="row">
    <div class="col-12 col-md-4 p-3">
        <div class="form-group text-left">
            <label for="mainRace" class="form-label">Select a Race:</label>
            <select for="mainRace" id="mainRaceSelector" class="form-control selectpicker" (change)="onMainRaceSelection($event.target.value)"
                data-live-search="true" data-size="7" dropupAuto="false" data-live-search-placeholder="Search..." data-live-search-style="contains">
                <option></option>
                <option *ngFor="let race of mainRaces" [value]="race.id">
                    {{race.name}}
                </option>
            </select>
        </div>
    </div>
    <div class="col-12 col-md-8 p-3">
        <div *ngIf="selectedMainRace != null">
            {{selectedMainRace.description}}
        </div>
    </div>
</div>
<div class="row mt-2" *ngIf="fullMainRace != undefined">
    <div class="col-10 offset-1 p-3 text-center">
        <character-branching-root [race]="fullMainRace" [characterModel]="characterModel" (validationChanged)="onMainRaceValidationChanged($event)"></character-branching-root>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-4 p-3">
        <div class="form-group text-left" *ngIf="selectedMainRace?.subRaces.length > 0">
            <label for="subRace" class="form-label">Select a SubRace:</label>
            <select for="subRace" id="subRaceSelector" class="form-control selectpicker" (change)="onSubRaceSelection($event.target.value)"
                data-live-search="true" data-size="7" dropupAuto="false" data-live-search-placeholder="Search..." data-live-search-style="contains">
                <option>-None-</option>
                <option *ngFor="let race of selectedMainRace?.subRaces" [value]="race.id">
                    {{race.name}}
                </option>
            </select>
        </div>
    </div>
    <div class="col-12 col-md-8 p-3">
        <div *ngIf="selectedSubRace != null">
            {{selectedSubRace.description}}
        </div>
    </div>
</div>