<shared-modal title={{title}}>
    <div body>
        <form [formGroup]="editSkillForm" id="editSkillForm" autocomplete="off" novalidate (ngSubmit)="editSkill(editSkillForm.value)">
            <div class="row text-center">
                <div class="col-8 offset-2">
                    <div class="form-group text-left">
                        <label for="id" class="form-label">ID:</label>
                        <input type="text" formControlName="id" id="id" class="form-control" readonly/>
                    </div>
                    <div class="form-group text-left">
                        <label for="name" class="form-label">Name:</label>
                        <input type="text" formControlName="name" id="name" class="form-control" />
                        <div class="mt-1">
                            <div class="alert alert-danger" *ngIf="validateControl('name') && hasError('name', 'required')">Please enter a name for the new Skill</div>
                            <div class="alert alert-danger" *ngIf="validateControl('name') && hasError('name', 'maxLength')">Skill name can be maximum {{ editSkillForm.controls['name'].errors.maxlength.requiredLength }} characters long</div>
                        </div>
                    </div>
                    <div class="form-group text-left">
                        <label for="description" class="form-label">Description:</label>
                        <textarea formControlName="description" id="description" class="form-control" rows="5"></textarea>
                        <div class="mt-1">
                            <div class="alert alert-danger" *ngIf="validateControl('description') && hasError('description', 'required')">Please enter a description for the new Skill</div>
                            <div class="alert alert-danger" *ngIf="validateControl('description') && hasError('description', 'maxLength')">Skill description can be maximum {{ editSkillForm.controls['description'].errors.maxlength.requiredLength }} characters long</div>
                        </div>
                    </div>
                    <div class="form-group text-left">
                        <label for="abilityScoreId" class="form-label">Ability Score:</label>
                        <select for="abilityScoreId" id="abilityScoreId" formControlName="abilityScoreId" class="form-control selectpicker"
                            data-live-search="true" data-size="7" dropupAuto="false" data-live-search-placeholder="Ability Score..." data-live-search-style="contains">
                            <option></option>
                            <option *ngFor="let abilityScore of abilityScores" [value]="abilityScore.id">
                                {{abilityScore.name}}
                            </option>
                        </select>
                        <div class="mt-1">
                            <div class="alert alert-danger" *ngIf="validateControl('abilityScoreId') && hasError('abilityScoreId', 'required')">Please select an Ability Score</div>
                        </div>
                    </div>
                    <div class="form-group text-left">
                        <label for="sourceId" class="form-label">Source:</label>
                        <select for="sourceId" id="sourceId" formControlName="sourceId" class="form-control selectpicker"
                            data-live-search="true" data-size="7" dropupAuto="false" data-live-search-placeholder="Source..." data-live-search-style="contains">
                            <option></option>
                            <option *ngFor="let source of sources" [value]="source.id">
                                {{source.name}}
                            </option>
                        </select>
                        <div class="mt-1">
                            <div class="alert alert-danger" *ngIf="validateControl('sourceId') && hasError('sourceId', 'required')">Please select a Source</div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div footer>
        <button type="submit" form="editSkillForm" class="btn btn-primary btn-block">Submit</button>            
    </div>
</shared-modal>