<div class="container p-3 mx-auto">
    <div class="row text-center">
        <div class="col-12">
            <h1>Users</h1>
            <hr />
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <table class="table table-striped table-hover table-bordered table-responsive-lg ">
                <thead>
                    <tr>
                        <th class="text-center" width="20%">ID</th>
                        <th class="text-center" width="20%">First name</th>
                        <th class="text-center" width="20%">Last name</th>
                        <th class="text-center" width="20%">Email</th>
                        <th class="text-center" width="5%">Admin</th>
                        <th class="text-center" width="15%">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of userlist">
                        <td class="align-middle">{{user.id}}</td>
                        <td class="align-middle">{{user.firstName}}</td>
                        <td class="align-middle">
                            <div>{{user.lastName}}</div>
                        </td>
                        <td class="align-middle">{{user.email}}</td>
                        <td class="align-middle">
                            <form>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="switch{{user.id}}"
                                        [checked]=user.isAdmin (change)="changeAdmin(user.id,user.isAdmin)">
                                    <label class="custom-control-label" for="switch{{user.id}}"></label>
                                </div>
                            </form>
                        </td>
                        <td class="align-middle">
                            <div class="btn-group">
                                <button type="button" class="btn btn-success btn-action" data-toggle="tooltip"
                                    title="Resend confirmation mail" (click)="showResendConfirmationModal(user)"><i
                                        class="fas fa-at"></i></button>
                                <button type="button" class="btn btn-secondary btn-action" data-toggle="tooltip"
                                    title="Send reset password mail" (click)="showResetPassMailModal(user)"><i
                                        class="fas fa-key"></i></button>
                                <button type="button" class="btn btn-danger btn-action" data-toggle="tooltip"
                                    title="Delete this user" (click)="showDeleteUserModal(user)"><i
                                        class="fa fa-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>