<form [formGroup]="resetPasswordForm" autocomplete="off" novalidate (ngSubmit)="resetPassword(resetPasswordForm.value)">
    <div class="row mt-2">
        <div class="col-12 text-center">
            <h1>Reset Password</h1>
            <p>Enter your new password below</p>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-12 col-md-8 offset-md-2">
            <div class="alert alert-danger text-center" *ngIf="apiError">
                <p>Something went wrong, your password could not be reset.</p>
                <p>Please try again later. If the problem persists, contact a site administrator.</p>
            </div>
            <div class="alert alert-success text-center" *ngIf="apiSuccess">
                <p>Your password was changed successfully.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 offset-md-3 text-center">
            <div class="form-group text-left">
                <label class="form-label" for="password">Password:</label>
                <input type="password" autofocus formControlName="password" id="password" class="form-control" />
                <div class="mt-2">
                    <div class="alert alert-danger" *ngIf="validateControl('password') && hasError('password', 'required')">Please enter a password</div>
                </div>
            </div>

            <div class="form-group text-left">
                <label class="form-label" for="confirmPassword">Confirm Password:</label>
                <input type="password" autofocus formControlName="confirmPassword" id="confirmPassword" class="form-control" />
                <div class="mt-2">
                    <div class="alert alert-danger" *ngIf="validateControl('confirmPassword') && hasError('confirmPassword', 'required')">Please confirm your password</div>
                    <div class="alert alert-danger" *ngIf="validateControl('confirmPassword') && hasError('confirmPassword', 'mustMatch')">Passwords do not match</div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-block mt-2">Reset Password</button>
        </div>
    </div>
</form>