<div class="text-left">
    <div class="form-group text-left" *ngIf="selectedModifier === undefined">
        <label for="selection" class="form-label">Select an option:</label>
        <select for="selection" id="selection" class="form-control selectpicker" [(ngModel)]="selectedModifier"
            data-live-search="true" data-size="7" dropupAuto="false" data-live-search-placeholder="Search..." data-live-search-style="contains">
            <option [ngValue]="null">-None-</option>
            <option *ngFor="let option of modifierOptions" [ngValue]="option">
                <div *ngSwitch="option.discriminator">
                    <option *ngSwitchCase="0">{{option.abilityScoreName}} {{option.value >= 0 ? "+" : "-"}} {{option.value}} test</option>
                    <option *ngSwitchCase="6">{{option.name}}</option>
                </div>
            </option>
        </select>
    </div>
    <p *ngIf="selectedModifier !== undefined">{{selectedModifier.name}}</p>
</div>