<shared-modal title={{title}}>
        <div body>
            <form [formGroup]="addSourceForm" id="addSourceForm" autocomplete="off" novalidate (ngSubmit)="createSource(addSourceForm.value)">
                <div class="row text-center">
                    <div class="col-8 offset-2">
                        <div class="form-group text-left">
                            <label for="name" class="form-label">Name:</label>
                            <input type="text" formControlName="name" id="name" class="form-control" />
                            <div class="mt-1">
                                <div class="alert alert-danger" *ngIf="validateControl('name') && hasError('name', 'required')">Please enter a name for the new Source</div>
                                <div class="alert alert-danger" *ngIf="validateControl('name') && hasError('name', 'maxlength')">Source name can be maximum {{ addSourceForm.controls['name'].errors.maxlength.requiredLength }} characters long</div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div footer>
            <button type="submit" form="addSourceForm" class="btn btn-primary btn-block">Submit</button>            
        </div>
</shared-modal>