<shared-modal title={{title}}>
    <div body>
        <div class="row text-center">
            <div class="col-8 offset-2">
                <div>
                    <p><strong>Warning</strong></p>
                    <p>This will send a mail to <strong>{{user.email}}</strong> to confirm their email address</p>
                    <p class="mt-1">Are you sure you want to proceed?</p>
                </div>
            </div>
        </div>
    </div>
    <div footer>
        <button type="button" class="btn btn-success btn-block" (click)="resendConfirmation()">Send</button>
    </div>
</shared-modal>