<div class="container">

    <button [routerLink]="['/newCharacter']" class="btn btn-primary m-3">New character</button>
    <h1>Select your character</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Race</th>
                <th scope="col">Level</th>
            </tr>
        </thead>
        <tbody *ngFor="let character of characters">
            <tr>
                <th scope="row"><a routerLink="./{{character.id}}">{{character?.name}}</a></th>
                <td>{{character?.race}}</td>
                <td>{{character?.level}}</td>

                <td> <button type="button" class="btn btn-primary btn-action"
                        [routerLink]="['/editCharacter',character.id]"><i class="fa fa-edit"></i></button>

                    <button type="button" class="btn btn-danger btn-action"
                        (click)="showDeleteCharacterModal(character)"><i class="fa fa-trash"></i></button>
                </td>

            </tr>
        </tbody>
    </table>
</div>