<div class="container">
    <div class="row mt-3">
        <div class="col-12 text-center">
            <div *ngIf="isConfirmed">
                <h1>Email Confirmation</h1>
                <p>Your email address has been confirmed and your email address has been updated.</p>
                <p>Welcome to DMCompanion! Follow <a routerLink="/authentication/login" routerLinkActive="active">this
                        link</a> to login.</p>
            </div>
            <div *ngIf="isFailed">
                <h1>Email Confirmation Failed</h1>
                <p>Something went wrong while confirming your email address. Your account could not be confirmed.</p>
                <p>Please try again at a later time</p>
                <p>If the problem persists, please contact the site administrators.</p>
                <p>We apologize for any inconvenience.</p>
            </div>
        </div>
    </div>
</div>