/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Import Bootstrap-Select CSS file */
@import "../node_modules/bootstrap-select/dist/css/bootstrap-select.min.css";

input.ng-touched.ng-invalid{
    border: 3px solid red;
}

hr {
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 25px;
    width: 96%;
    border: 0;
    display: block;
    height: 1px;
    background-color: black;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.95));
}

/* Change body layout to use entire screen */
