<div class="container my-3">
    <p style="font-size: 50px;" class="dm-bold-font"><i class="fas fa-dice-d20 fa-2x mr-3"></i>DMCompanion</p>
    <div class="row">
        <div class="col-12 col-md-6">
            <h1>Welcome to <span class="dm-reg-font">DMCompanion</span></h1>

            <p>
                Here you can release your inner adventurer. This websites provides some helpfull tools to keep track of
                your
                boardgame.
            </p>
            <ul>
                <li>Create a character with our builder</li>
                <li>Keep track of all events that are happening in your turn</li>
                <li>No more need to write things down on paper</li>
                <li>It will be harder to forget steps that you are eligible for</li>
                <li>Optimized for D&D but can be used for any game with a Dungeon Master</li>
            </ul>
            <p>Join a game with your friends and reach your goals on an epic adventure. The only limit is your
                imagination, we'll help you keep track of the numbers.</p>
        </div>
        <div class="col-12 col-md-6">
            <img class="img-fluid" [src]="'assets/img/Crew.jpg'" alt="Homepage image">
        </div>

    </div>
</div>